<nav class="navbar navbar-default navbar-static-top" role="navigation"
    style="background:rgba(30,30,30,.8);position: fixed;top:0;left:0;width:100%;">
    <div class="container-fluid">
        <div class="pull-left">
            <ul class="topbar-nav">
                <li class="dropdown ">
                    <a class="dropdown-toggle">
                        <i nz-icon type="menu-unfold" theme="outline" style="font-size:16px;"></i>
                    </a>
                    <ul nz-menu [nzMode]="'horizontal'" style="line-height:0;background:none;border-bottom:none;">
                        <li nz-submenu [(nzOpen)]="isCollapsed">
                            <ul>
                                <!-- <li nz-menu-item ppp>
                                  <a [routerLink]="['/abnormalShowed']">
                                      <i nz-icon type="home" theme="outline"></i>
                                      <span class="title">首页</span>
                                  </a>
                              </li>
                              <li nz-menu-item>
                                  <a [routerLink]="['/abnormalShowed']">
                                      <i nz-icon type="fund"></i>
                                      <span class="title">基站自动唤醒</span>
                                  </a>
                              </li> -->
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="pull-left">
            <a [routerLink]="['/abnormalShowed']">
                <img src="/neg-bts-auto-reset-web-agl/assets/images/nokia.png" class="img-responsive logoImg" />
            </a>
        </div>
        <div class="pull-right">
            <ul class="topbar-nav pull-left">
                <li>
                    <a class="changePwd">
                        <img alt="FH" src="/neg-bts-auto-reset-web-agl/assets/images/user.jpg" class="nav-user-photo">
                        <span class="user_info" style="top: 16px;">{{username}}</span>
                    </a>
                </li>
                <li><a role="menuitem" tabindex="-1" (click)="logout()" title="退出"><i nz-icon type="home"></i></a></li>
            </ul>
        </div>
    </div>
</nav>