ul.nav-tabs>li {
    text-align: center;
    font-size: 12px;
    width:140px;
    border-radius: 5px 5px 0 0;
    background: #7F7F7F;
    margin-right:5px;
}
ul.nav-tabs>li>a {
    color:#fff;
    border:none;
}
ul.nav-tabs>li.active {
    background-color: #0070C0!important;
    border:none!important;
}
ul.nav-tabs>li.active >a {
    color:#fff!important;
    background-color: #0070C0!important;
    border:none!important;
}
ul.nav-tabs>li:hover {
    background-color: #0070C0!important; 
}
ul.nav-tabs>li>a:hover {
    color:#fff;
    background-color: #0070C0!important;
    border:none;
}

.console-title {
    padding: 10px 0px 5px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
}
.console-title .btn {
    margin-left: 15px;
}
.console-title .nav-pills {
    display: inline-block;
    vertical-align: middle
}
.console-title h1,
.console-title h2,
.console-title h3,
.console-title h4,
.console-title h5,
.console-title h6 {
    display: inline-block;
    text-indent: 8px;
    border-left: 4px solid #004ad1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px
}
.console-body {
    margin-bottom: 10px
}


.ant-form-item-label {
    text-align: left !important;
    font-weight: normal !important;
}

.ant-form-item-label label {
    font-weight: normal !important;
}