  .tabBgColor {
    background:#fff;
    margin-top:4px;
    padding-bottom:15px;
  }

  #subNav .title > a {
    color:#fff;
  }

  /* 基站详情 */
 .ne-details {
    width:100%;
  }

 .ne-details th, td {
    border:1px solid #fff;
    line-height: 34px;
    text-align: center;
  }

  .ne-details th {
    background: #6CA298;
    color:#fff;
    font-size:18px;
  }

  .ne-details tr:nth-child(odd) {
    background: #C8D3C3;
  }

  .ne-details tr:nth-child(even) {
    background: #D7DDC7;
  }

  .square-bg {
    border:1px solid #9EC3BB;
    box-shadow:inset #9EC3BB 2px 2px 30px;
    padding:10px 0;
    margin-top:10px;
  }