<button nz-button nzType="primary" nzSize="small" class="btn btn-warning btn-xs" style="margin-right: 18px;"
  (click)="dataClear();bookingPlan();">{{'addOrderPlan' | translate}}</button>

<!-- 预约方案窗口 -->
<nz-modal [(nzVisible)]="visible" nzWidth="950px" nzTitle="{{'bookingPlan' | translate}}" [nzFooter]="bookingPlanFooter"
  (nzOnCancel)="handleBookingCancel()">
  <div class="form-inline">
    <nz-form-item style="height:25px;">
      <nz-form-label [nzSpan]="2">{{'bookingPlanName' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="4">
        <input style="width:150px;" nz-input type="text" [(ngModel)]="planName">
      </nz-form-control>

      <nz-form-label [nzSpan]="3">{{'bookingStartTime' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="5">
        <nz-date-picker nzShowToday nzShowTime [(ngModel)]="startTime" nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
      </nz-form-control>

      <nz-form-label [nzSpan]="3">{{'bookingEndTime' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="5">
        <nz-date-picker nzShowToday nzShowTime [(ngModel)]="endTime" nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="height:25px;">
      <nz-form-control [nzSpan]="6" style="float:right;margin-right:25px;">
        <button nz-button nzType="primary" nzSize="small" (click)="queryReset()" class="btn btn-primary btn-xs"
          style="float:left;margin-left:8px;"><i nz-icon type="redo"></i>{{'reset' | translate}}</button>
        <button nz-button nzType="primary" nzSize="small" (click)="bookingPlan()" class="btn btn-primary btn-xs"
          style="float:left;margin-left:8px;"><i nz-icon type="search"></i>{{'query' | translate}}</button>
        <button nz-button nzType="warning" nzSize="small" (click)="bookingPlanAddFun()" class="btn btn-warning btn-xs"
          style="float:left;margin-left:8px;"><i nz-icon type="plus-circle"></i>{{'add' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="form-inline">
    <nz-table #bookingPlanTable nzBordered nzSize="small" [nzData]="bookingPlanList" [(nzTotal)]="tableTotal"
      [(nzPageSize)]="tablePageSize" [(nzPageIndex)]="tablePage" [nzFrontPagination]="false"
      (nzPageIndexChange)="bookingPlan()" nzShowSizeChanger [nzPageSizeOptions]="[10,20,50,100]"
      (nzPageSizeChange)="bookingPlan()" [nzScroll]="{x:'900px', y: '488px'}" [nzLoading]="tableLoading"
      [nzShowTotal]="totalTemplate" [nzNoResult]="'tableNoResult' | translate">
      <ng-template #totalTemplate let-total>
        {{'itemTotal' | translate}}:{{tableTotal}}{{'items' | translate}}
      </ng-template>
      <thead>
        <tr>
          <th style="width:33px;"><span title=''></span></th>
          <th style="width:150px;"><span
              title='{{"bookingPlanName" | translate}}'>{{'bookingPlanName' | translate}}</span></th>
          <th style="width:220px;"><span title='{{"bookingTime" | translate}}'>{{'bookingTime' | translate}}</span></th>
          <th style="width:150px;"><span title='{{"addedBtsNum" | translate}}'>{{'addedBtsNum' | translate}}</span></th>
          <th style="width:150px;"><span title='{{"operation" | translate}}'>{{'operation' | translate}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of bookingPlanTable.data">
          <td style="width:30px;">
            <label nz-checkbox nzValue="{{data.id}}" [(ngModel)]="data.checkValue"
              (ngModelChange)="selected(data.id)"></label>
          </td>
          <td style="width:150px;"><input nz-input type="text" [(ngModel)]="data.plan_name"
              (blur)="planNameChange($event,data.id)"></td>
          <td style="width:100px;">
            <nz-date-picker nzShowTime [nzMode]="time" [(ngModel)]="data.booking_reset_time"
              (nzOnOk)="planTimeChange($event,data.id)" nzFormat="yyyy-MM-dd HH:mm:ss">
            </nz-date-picker>
          </td>
          <td style="width:150px;"><span title='{data.btsNum}}'>{{data.btsNum}}</span></td>
          <td style="width:150px;">
            <button nz-button nzSize="small" (click)="delBookingPlan(data.id)"
              class="btn btn-info btn-xs">{{'del' | translate}}</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #bookingPlanFooter>
    <div class="text-center">
      <button nz-button (click)="addBtsToBookingPlan()" class="btn btn-primary btn-sm">{{'sure' | translate}}</button>
      <button nz-button (click)="handleBookingCancel()" class="btn btn-default btn-sm">{{'cancel' | translate}}</button>
    </div>
  </ng-template>
</nz-modal>

<!-- 下面的内容为解决ts代码里面中文字符串国际化 -->
<div style="display: none">
  <!-- 结束时间小于开始时间，请修改 -->
  <div id="timeLimitInfo">{{'timeLimitInfo' | translate}}</div>
  <!-- 用户失效，请重新登录 -->
  <div id="userInvalid">{{'userInvalid' | translate}}</div>
  <!-- 数据列表加载失败 -->
  <div id="dataListFailed">{{'dataListFailed' | translate}}</div>
  <!-- 提示 -->
  <div id="tips">{{'tips' | translate}}</div>
  <!-- 该方案已绑定基站，确定删除？ -->
  <div id="delBookingPlanTips">{{'delBookingPlanTips' | translate}}</div>
  <!-- 删除 -->
  <div id="del">{{'del' | translate}}</div>
  <!-- 删除成功 -->
  <div id="delSuccess">{{'delSuccess' | translate}}</div>
  <!-- 请选择一个预约方案 -->
  <div id="selectBookinPlan">{{'selectBookinPlan' | translate}}</div>
  <!-- 添加成功 -->
  <div id="addSuccess">{{'addSuccess' | translate}}</div>
  <!-- 修改成功 -->
  <div id="motifySuccess">{{'motifySuccess' | translate}}</div>
  <!-- 预约时间已存在，请修改 -->
  <div id="bookingPlanIsExist">{{'bookingPlanIsExist' | translate}}</div>
  <!-- 时间不在当前时间到今天24点范围内，请修改 -->
  <div id="timeIsNotRight">{{'timeIsNotRight' | translate}}</div>
</div>