.assess-bg {
    text-align:center;
    font-size:16px;
    margin-top:-50px;
    margin-bottom:50px;
}
.square-bg {
    border:1px solid #9EC3BB;
    box-shadow:inset #9EC3BB 2px 2px 30px;
    padding:10px 0;
    margin-top:10px;
}
.circle-bg {
    border:1px solid #9EC3BB;
    border-radius:100px;
    box-shadow:inset #9EC3BB 2px 2px 30px;
}

.abnormal-num {
    text-align:center;
    font-size:22px;
    margin-bottom:10px;
}
.deal-num {
    padding:20px 5px;
    text-align:center;
    font-size:20px;
}

.circle-key {
    width:80px;
    height:80px;
    margin:10px auto;
    border-radius:80px;
    color:#fff;
    text-align:center;
    line-height:80px;
    font-size:26px;
}
.success-title {
    width:140px;
    position: absolute;
    right:0;
    top:-70px;
    background: #fff;
    border-radius: 0;
}
.success-title > li {
    font-size: 12px;
    line-height: 24px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

