.abnormalTable.span{
    width:180px; 
    height:25px; 
    display:block;
    overflow: hidden;
  }

  .alarmTable.span{
    width:120px; 
    height:20px; 
    display:block;
    overflow: hidden;
  }

  .realTimeStatis {
    width: 75%;
    float: left;
    margin-left:15px;
  }

  .form-group {
    width: 20%;
    height:20px; 
    float: right;
  }